



<ion-header>

    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>Standings</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content padding>

    
    <!-- <ul>
        <li *ngFor="let i of data">{{i.id}}</li>
    </ul> -->
    <ion-grid style="background-color: lightslategrey">
            <ion-row>
            <ion-col col-2>Teams</ion-col>
            <ion-col col-2>Played</ion-col>
            <ion-col col-2>Win</ion-col>
            <ion-col col-2>Loss</ion-col>
            <ion-col col-2>Points</ion-col>
        </ion-row>
        <ion-row *ngFor="let i of data" style="background-color: beige;">
                <ion-col col-2>{{i.id}}</ion-col>
            
            <ion-col col-2>{{i.P}}</ion-col>
             <ion-col col-2>{{i.W}}</ion-col>
             <ion-col col-2>{{i.L}}</ion-col>
             <ion-col col-2>{{i.PtS}}</ion-col>
            
        </ion-row>
       
    </ion-grid>
</ion-content>
